.App3 {
    font-family: sans-serif;
    text-align: center;
  }
  #timeline {
    display: flex;
    background-color: rgb(15, 107, 192);
  }
  #timeline:hover .Sec {
    width: 17.5%;
  }
  .Sec {
    position: relative;
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/ironman_lob_mas_hlf_02_0.jpg");
    width: 20%;
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: 30%;
    height: 100vh;
    overflow: hidden;
    color: white;
    transition: width 0.5s ease;
  }
  .Sec:before,
  .Sec:after {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .Sec:after {
    background: rgba(21, 126, 209, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .Sec:hover {
    width: 30% !important;
  
    background-size: 1600px;
    background-position: 50%;
  }
  .Sec:hover .content h {
    position: absolute;
    text-align: center;
    font-size: 17px;
    color: aliceblue;
  }
  .Sec:hover .content p {
    font-size: 17px;
    color: rgb(198, 47, 6);
    position: absolute;
    text-align: center;
    top: 55%;
  }
  .Sec:hover .name1 {
    position: absolute;
    text-align: center;
    right: 80%;
  }
  .Sec:hover .link a {
    font-size: 18px;
    position: absolute;
    top: 90%;
    right: 40%;
    font-family: tahoma;
  }
  .link a:hover .link a {
    font-size: 30px;
  }
  
  .content {
    font-family: tahoma;
  
    top: 50%;
  }
  .name {
    font-size: 24px;
    font-family: tahoma;
    position: absolute;
    top: 40%;
    right: 33%;
    text-align: center;
  }
  .content h {
    font-size: 0px;
    color: rgb(0, 0, 0);
  }
  .content p {
    font-size: 0px;
    color: rgb(0, 0, 0);
  }
  .box1 {
    border: 0px;
    position: absolute;
    right: 93%;
    top: 2%;
    border-radius: 5%;
    height: 30px;
    width: 30px;
    padding: 20px;
    background-color: rgb(13, 66, 145);
    border-color: rgb(13, 66, 145);
    z-index: 10;
  }
  .link a {
    font-size: 0px;
  }
  